{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}

<body data-spy="scroll" data-target="#navmenu" data-offset="70">
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="site-preloader-wrap">
        <div class="spinner-wrap">
            <div class="spinner"></div>
        </div>
    </div><!-- Preloader -->


    <section id="home" class="hero-section d-flex align-items-center">
        <div class="container">
            <div class="row hero-wrap">
                <div class="col-lg-7">
                    <div class="hero-content">
                        <h3 class="sub-heading wow fadeInUp" data-wow-delay="200ms">{{settings.title}}</h3>
                        <h1 class="heading wow fadeInUp" data-wow-delay="300ms">{{settings.title2}}</h1>
                        <p class="desc wow fadeInUp" data-wow-delay="400ms">{{settings.desctions}}</p>
                        <a href="#" class="default-btn wow fadeInUp" data-wow-delay="500ms">Скачать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--.hero-section-->

    <section id="about" class="about-section bd-bottom padding">
        <div class="container">
            <div class="row about-wrap d-flex align-items-center">
                <div class="col-lg-5 sm-padding">
                    <div class="about-bg wow fadeInLeft" data-wow-delay="100ms">
                        <img src="{{ settings.image.url }}" alt="img">
                    </div>
                </div>
                <div class="col-lg-7 sm-padding">
                    <div class="about-content">
                        <h2><span class="wow fadeInUp" data-wow-delay="100ms">{{settings.title3}}</span> <br><span class="wow fadeInUp" data-wow-delay="300ms">{{settings.title3}}</span></h2>
                        <p class="wow fadeInUp" data-wow-delay="500ms">{{settings.descriptions2}}</p>
                    </div>
                    <ul class="skill-items wow fadeInUp" data-wow-delay="700ms">
                        <li class="skill-item">
                            <h5>Photoshop</h5>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 80%;">
                                    <span>80%</span>
                                </div>
                            </div>
                        </li>
                        <li class="skill-item">
                            <h5>Indesign</h5>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-delay="200ms" data-wow-duration="2000ms" role="progressbar" style="width: 90%;" role="progressbar">
                                    <span>90%</span>
                                </div>
                            </div>
                        </li>
                        <li class="skill-item">
                            <h5>Web Programing</h5>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-delay="300ms" data-wow-duration="2000ms" role="progressbar" style="width: 75%;" role="progressbar">
                                    <span>75%</span>
                                </div>
                            </div>
                        </li>
                        <li class="skill-item">
                            <h5>Adobe Illustrator</h5>
                            <div class="progress">
                                <div class="progress-bar wow slideInLeft" data-wow-delay="400ms" data-wow-duration="2000ms" role="progressbar" style="width: 65%;" role="progressbar">
                                    <span>65%</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="cv-btn">
                        <a href="#" class="default-btn wow fadeInUp" data-wow-delay="900ms">Get a Free Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.about-section-->
    <section id="services" class="service-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h2 class="wow fadeInUp">{{settings.services_title}}</h2>
            </div>
            <!--/.section-heading-->
            <div class="service-wrap row">
                {% for setting in settings_all %}
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="100ms">
                    <div class="service-item text-center">
                        <!-- <i class="icon-camera"></i> -->
                        <h3><span>{{setting.title4}}</span></h3>
                        <p>{{setting.descriptions3}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>  
        </div>
    </section>
    <!--/.service-section-->

    <section class="counter-section padding overlay">
        <div class="container">
            <div class="counter-wrap row">
                {% for portfolio in portfolio_all %}
                <div class="col-lg-3 col-sm-6 sm-padding wow fadeInUp" data-wow-delay="100ms">
                    <div class="counter-item text-center">
                        <!-- <i class="icon-documents"></i> -->
                        <h3 class="counter">{{portfolio.title}}</h3>
                        <h4>{{portfolio.descriptions}}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--/.counter-section-->

    <section id="portfolio" class="work-section bd-bottom padding">
        <div class="container">
            <div class="section-heading text-center mb-40">
                <h2 class="wow fadeInUp" data-wow-delay="100ms">Work Portfolios</h2>
            </div>
            <!--/.section-heading-->
            <div class="work-items-wrap">
                <div class="work-titles"></div>
                <ul class="work-filter mb-30 wow fadeInUp" data-wow-delay="300ms">
                    <li class="active" data-filter="*">All</li>

                </ul><!-- /.Work filter -->
                <div class="row work-items wow fadeInUp" data-wow-delay="500ms">
                    {% for work in work_all %}
                    <div class="col-md-4 col-sm-6 xs-padding single-item design wordpress">
                        <a href="img/work-1.jpg" class="work-box img-popup" data-title="Design Production" data-category="Branding">
                            <div class="work-thumb">
                                <img src="{{ work.image.url }}" alt="work">
                            </div>
                        </a>
                    </div><!-- /work-1 -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!--/.work-section-->

    <section id="reviews" class="testimonial-section bg-grey bd-bottom padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-none d-lg-block d-md-block">
                    <div class="clients-thumb">
                        <div class="ct-thumb thumb-1"></div>
                        <div class="ct-thumb thumb-2"></div>
                        <div class="ct-thumb thumb-3"></div>
                        <div class="ct-thumb thumb-4"></div>
                        <div class="ct-thumb thumb-5"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-heading">
                        <h2 class="wow fadeInUp" data-wow-delay="100ms">{{clients.title}}</h2>
                    </div>
                    <!--/.section-heading-->
                    <div id="testimonial-carousel" class="testimonial-carousel owl-carousel wow fadeInUp" data-wow-delay="300ms">
                        {% for clients in clients_all %}
                        <div class="testi-item">
                            <p>{{clients.descriptions}}</p>
                            <div class="testi-thumb">
                                <img src="{{ clients.image.url }}" alt="img">
                                <h3>Angelina Rose <span>Designer</span></h3>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--.testimonial-section-->

    <section id="contact" class="contact-section padding">
        <div class="container">
            <div class="contact-wrapper d-flex align-items-center row">
                <div class="col-lg-5 col-md-6 sm-padding">
                    <div class="contact-info">
                        <div class="section-heading mb-20">
                            <h2 class="wow fadeInUp" data-wow-delay="100ms">Связаться</h2>
                        </div>
                        <!--/.section-heading-->
                        <p class="wow fadeInUp" data-wow-delay="300ms">Мы верим, что вопрос не в том, насколько очевиден комфорт. <br> До восторга кузены мы чувствуем минуты. Гений посмотрел <br>конец пикантной весны.</p>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 sm-padding">
                    <div class="contact-form">
                        <form action="" method="post" id="ajax_form" class="form-horizontal">
                            <div class="form-group colum-row row wow fadeInUp" data-wow-delay="500ms">
                                <div class="col-sm-6">
                                    <input type="text" id="name" name="name" class="form-control" placeholder="Full Name" required>
                                </div>
                                <div class="col-sm-6">
                                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="form-group row wow fadeInUp" data-wow-delay="700ms">
                                <div class="col-md-12">
                                    <textarea id="message" name="message" cols="30" rows="5" class="form-control message" placeholder="Message" required></textarea>
                                </div>
                            </div>
                            <div class="form-group row wow fadeInUp" data-wow-delay="900ms">
                                <div class="col-md-12">
                                    <button id="submit" class="default-btn" type="submit">Send Message</button>
                                </div>
                            </div>
                            <div id="form-messages" class="alert" role="alert"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/.contact-section-->

    <section class="widget-section padding">
        <div class="container">
            <div class="widget-content text-center">
                <h2 class="wow fadeInUp" data-wow-delay="100ms">{{info.title}}<span>!</span></h2>
                <a class="mb-15 wow fadeInUp" data-wow-delay="200ms" href="#">{{info.email}}</a>
                <a href="tel:9123456789" class=" wow fadeInUp" data-wow-delay="300ms">{{info.phone}}</a>
            </div>
        </div>
    </section>
    <!--/.widget-section-->

    <footer class="footer-section">
        <div class="container">
            <div class="footer-wrap row">
                <div class="col-md-6">
                    <ul class="footer-social">
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Dribbble</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="copyright">
                        <p>&copy; <span id="year"></span> Xavia Powerd By TeamXcel</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- /.footer-section -->

    <a data-scroll href="#header" id="scroll-to-top"><i class="ti-angle-up"></i></a>

    {% endblock %}